.login-wrapper {
    display: flex;
    margin-bottom: 5px;
    position: relative;
}

.login-form {
    float: right;
}

input {
    padding: 6px;
    margin-top: 8px;
    font-size: 13px;
    border: none;
    width: 150px;
    margin-right: 2px;
}

.pass-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px
}

.login-form button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    background: #BA8B18;
    color: #fff;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background: #ccc;
}

.alert {
    position: absolute;
    top: 0;
    right: 120px;
    transform: translateY(250%);
}

mat-icon {
    margin-top: 10px;
    font-size: 20px;
    margin-left: -27px;
    cursor: pointer;
    color: gray;
}

@media (max-width: 1000px) {
    
    .login-wrapper {
        display: flex;
        flex-direction: column;
    }

    mat-icon {
        right: 165px;
        margin-top: 22px;
        transform: translateY(-45%);
        height: auto;
    }

    .pass-input {
        margin-right: unset;
    }

    .pw-err {
        display: flex;
        flex-direction: column;
    }

    .alert {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
}

}

@media (max-width: 550px) {
    mat-icon {
        margin-top: 22px;
        left: 60%;
    }

    .pass-input {
        margin-right: unset;
    }
}

@media (max-width: 375px) {
    mat-icon {
        margin-top: 22px;
        left: 70%;
    }

    .pass-input {
        margin-right: unset;
    }
}

@media (max-width: 414px) {
    mat-icon {
        margin-top: 22px;
        left: 65%;
    }

    .pass-input {
        margin-right: unset;
    }
}