h1 {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 15px;
}

.ok-btn {
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.content {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
}

.action-box {
    justify-content: center;
    padding: 0;
}

mat-error {
    font-size: 13px;
}