* {
    font-size: 13px;
}

.navbar {
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    // position: fixed;
    background-color: rgb(0, 0, 24);
    color: white;
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 1rem 10rem 1rem 10rem;
}

.nli--navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem 1rem 10rem;
}

.right-side {
    text-align: right;
}

.action-box {
    width: auto;
}

.action-box {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    font-weight: 15px;
    margin-left: 6rem;
}

table td {
    padding: 2px;
}

.btn-container {

}

.logout-btn {
    background: transparent;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    padding: 6px;
    box-shadow: 2px 2px rgb(85, 85, 85);
    justify-content: center;
}

.action-button {
    float: right;
    background: #BA8B18;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 50%;
    padding: 6px;
    margin: 2px;
}

.balance-btn {
    background: #BA8B18;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    padding: 6px;
    box-shadow: 2px 2px rgb(85, 85, 85);
    justify-content: center;
    margin-right: 10px;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

@media (max-width: 550px) {

    .navbar-items,
    .nli--navbar-items {
        display: flex;
        flex-direction: column;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .user-info {
        margin: 0;
    }
}

@media (max-width: 740px) {
    .navbar-items,
        .nli--navbar-items {
            padding: 16px;
        }
}

@media (max-width: 1000px) {
    .user-info {
        margin: 0;
        align-items: center;
        text-align: left;
    }

    .btn-container {
        margin: 0;
        position: absolute;
    }


    .logo-container {
        margin: 20px;
    }
}